<%= form_for(@message) do |f| %>
  <% if @message.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @message.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
  <% end %>

  <br>名前:
  <%= f.text_field :name %>

  年齢:
  <%= f.text_field :age %></br>
  
  内容:
  <br><%= f.text_area :body , :size=>"60x2" %></br>
  
  <br><%= f.submit class: "btn btn-mn btn-warning" %></br>
<% end %>